<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar" >
      <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name">PYMECLICK</h1>

      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu"><!-- Proceso de construcción para la seguna versión-->
          <button mat-menu-item>
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>
          <button mat-menu-item (click)="sidenav.opened = false"><!-- Proceso de construcción para la seguna versión-->
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px">
          <img src="assets/logoPymeClick.png" width="128" style="margin-left: 20px">
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/empresa" style="cursor: pointer">
              <mat-icon>work</mat-icon>
              <span>Empresa</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/productoservicio" style="cursor: pointer">
              <mat-icon>store</mat-icon>
              <span>Producto Servicio</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/categoria" style="cursor: pointer">
              <mat-icon>category</mat-icon>
              <span>Categoría</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/calificacion" style="cursor: pointer">
              <mat-icon>star_rate</mat-icon>
              <span>Calificación</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/ciudad" style="cursor: pointer">
              <mat-icon>location_city</mat-icon>
              <span>Ciudad</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="sidenav.toggle()" routerLink="/comuna" style="cursor: pointer">
              <mat-icon>home</mat-icon>
              <span>Comuna</span>
          </button>
          <mat-divider></mat-divider>
      </mat-sidenav>
      <mat-sidenav-content>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>
