<mat-toolbar>Ciudad</mat-toolbar>

<router-outlet></router-outlet>

<div class="example-container mat-elevation-z8">

  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="filtrar($event.target.value)" placeholder="Buscar ciudad">
    </mat-form-field>
  </div>

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.id_ciudad}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombre ciudad">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.nombre}} </mat-cell>
      </ng-container>
      
   
    
     <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-button color="accent" (click)="eliminar(row)"><mat-icon>delete</mat-icon></button>
        </mat-cell>
      </ng-container>
   <mat-header-row *matHeaderRowDef="displayedColums"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColums;">
    </mat-row>
  </mat-table>
 
 <!-- <mat-list>
    <h3 mat-subheader>Comuna</h3>
  <mat-list-item *ngFor="let comuna of comuna">
    <h3 matLine> {{comuna.nombre_comuna}}</h3>
  </mat-list-item>
    </mat-list> -->
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>


